{% extends 'base.html'%}
{% block title %}Assignment{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="container details">
    <h4><Strong>Topic : </Strong>{{assignment.subject.subject_name}}</h4>
    <h4><Strong>Class : </Strong>{{assignment.ass_class}}</h4>
    <h4><Strong>Date : </Strong>{{assignment.date}}</h4>
  </div>
  {% if assignment.ass_type == "MCQ" %}

    <div class="mcq">
      <h4 class="text-center">MCQs</h4>
      <div class="table-responsive ">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Questions</th>
              <th scope="col">Answer</th>
              <th scope="col">Operation</th>
            </tr>
          </thead>
          <tbody>
            {% for mcq in mcqs %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>
                <table class="table table-borderless">
                  <tr>
                    <td colspan="2">{{mcq.que|safe}}</td>
                  </tr>
                  <tr>
                    <td>A.{{mcq.opt1}}</td>
                    <td>B.{{mcq.opt2}}</td>
                  </tr>
                  <tr>
                    <td>C.{{mcq.opt3}}</td>
                    <td>D.{{mcq.opt4}}</td>
                  </tr>
                </table>
              </td>
              <td>{{mcq.ans}}</td>
              <td class="text-center"><a href="/teacher/delete_quetion/{{mcq.pk}}" class="text-danger"><i class="fa  fa-2x fa-trash"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <form action="" method="post" accept-charset="utf-8" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="que">Question</label>
              <textarea required name="que" id="que"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group row">
             <label class="col-1 col-form-label" for="opt_a">A</label>
             <input required class="form-control col-11" type="text" name="opt_a" id="opt_a" value="" />
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group row">
             <label class="col-1 col-form-label" for="opt_b">B</label>
             <input required class="form-control col-11" type="text" name="opt_b" id="opt_b" value="" />
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group row">
             <label class="col-1 col-form-label" for="opt_c">C</label>
             <input required class="form-control col-11" type="text" name="opt_c" id="opt_c" value=""/>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group row">
             <label class="col-1 col-form-label" for="opt_d">D</label>
             <input required class="form-control col-11" type="text" name="opt_d" id="opt_d" value=""/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group row">
              <label class="col-1 col-form-label" for="ans">Ans</label>
              <div class="col-11">
                <select name="ans" id="ans" class="form-control">
                  <option selected disabled>Select Answer</option>
                  <option id="ans_a"></option>
                  <option id="ans_b"></option>
                  <option id="ans_c"></option>
                  <option id="ans_d"></option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <input type="submit" value="Submit" class="btn btn-primary" />
          </div>
        </div>
      </form>
    </div>

  {% else %}
  <div class="upload">
    <h4 class="text-center">File upload</h4>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
          <th>#</th>
          <th>Questions</th>
          <th class="text-center">Operations</th>
          </tr>
        </thead>
        <tbody>
          {% for question in file_ass %}
           <tr>
             <th>{{forloop.counter}}</th>
             <td>{{question.desc | safe}}</td>
             <td class="text-center"><a href="/teacher/delete_file_question/{{question.pk}}" class="text-danger"><i class="fa fa-2x fa-trash"></i></a></td>
           </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="que">Question</label>
            <textarea name="que" id="que"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <input type="submit" value="Submit" class="btn btn-primary"/>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
</div>

<script type="text/javascript" charset="utf-8">
 document.getElementById('opt_a').onchange=function(){
   document.getElementById('ans_a').innerHTML=document.getElementById('opt_a').value;
 };
 document.getElementById('opt_b').onchange=function(){
   document.getElementById('ans_b').innerHTML=document.getElementById('opt_b').value;
 };
 document.getElementById('opt_c').onchange=function(){
   document.getElementById('ans_c').innerHTML=document.getElementById('opt_c').value;
 };
 document.getElementById('opt_d').onchange=function(){
   document.getElementById('ans_d').innerHTML=document.getElementById('opt_d').value;
 };
</script>

 <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
 <script type="text/javascript">
  tinymce.init({
    selector: '#que',
    height: 250,
    plugins: [
      'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
      'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
      'table emoticons template paste help'
    ],
    toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist outdent indent | link image | print preview media fullpage | ' +
      'forecolor backcolor emoticons | help',
    menu: {
      favs: {title: 'My Favorites', items: 'code visualaid | searchreplace | spellchecker | emoticons'}
    },
    menubar: 'favs file edit view insert format tools table help',
    content_css: 'css/content.css'
  });
  </script>
<!--
   <script>
      $('#que').summernote({
        tabsize: 1,
        height: 200,

      });
    </script>
  -->
{% endblock %}
