{% extends 'base.html' %}
{% block title %}home{% endblock %}
{% block css %}
    <style>
        .carousel-indicators {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 15;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            padding-left: 0;
            margin-right: 15%;
            margin-left: 4%;
            list-style: none;
        }
        .indicator li {
            box-sizing: content-box;
            -ms-flex: 0 1 auto;
            flex: 0 1 auto;
            width: 15px !important;
            height: 15px !important;
            border-radius: 50% !important;
            margin: 0 15px !important;
            text-indent: -999px;
            cursor: pointer;
            background-color: #fff;
            background-clip: padding-box;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            opacity: .5;
            transition: opacity .6s ease;
        }
    </style>
{% endblock css %}
{% block body %}
<section id="hero">
    <div id="carouselExampleIndicators" style="height: 570px;" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators indicator" style="width: max-content; margin-left: 75px">
            <li data-target="#carouselExampleIndicators" style="width: 15px; height: 15px; border-radius: 50%; margin: 0 15px" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" style="width: 15px; height: 15px; border-radius: 50%; margin: 0 15px" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" style="width: 15px; height: 15px; border-radius: 50%; margin: 0 15px" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item slide-image active">
                <img class="d-block w-100 img-fluid" src="https://lh3.googleusercontent.com/pieZp37jIyvQjaWbcLsdH0NSxHMmmfF7_qjt0wCd7u9EFWoaOJl-m8IsS2eVtY8iqIJipJblBvzD_vUP2z3wplg2XSDQIQqQ2MD_eAwxeV3TOK44nYJ8UceJYTlme-Bn9-BriDr96TycddcBYC3u_jX__82qo15RPtAcWKQLbVp9A07hsJTRZ243E3ACEUZfv4Jym4f3904yyES2zjJCOTpC2lGTkEglp1uDCFelQewaVFOjsXYGJ5bEt9HTObkBrEUrnyrFWiWNAcdC2Ma2SgOyQFY_VtdXZw667DOCR6VklJpiMODpt-nGMXoU86b4XSY4aNTE-0_PAwe1-vViTc2pIOwGOaqrXnSzEG0VlHe15-fI_EaLaJvkljZ63m59YffxZwpNEq0CW-noNVMj1n12HSLck-C6843CBmVdu9Y6ulsfDXzCd5tpy1ST_C-79uBdcwhuMrvOqro2KtZo95UFoPw4omH2UItWYduqudYMnhs0v4pNyJNTq26Ac3dzMh9RlZ2uFKDaacDGtgjNagYDbuumpowe8N7DXhhu4a3RHR_afamZE6WQSp8sv2kgkU1-fmiVkzYYXhKQ4tl0zSBHDnbIqjG_ALO1gl-muBdB3fp-LZSxuCeiFN3D6CVlpQzWmj9afAv--rpok_oAaPCwo5MqYG72gbmZ-5kCwtICEe4NSzoQFJDnRqGRGfjlJxtQRuCG9EO96GdxpDJF2w6r=w1185-h669-no?authuser=0" alt="Second slide">
            </div>
            <div class="carousel-item slide-image">
                <img class="d-block w-100 img-fluid" src="https://lh3.googleusercontent.com/EyBoZOnFSLWksPsyl6SAkjDSmcXNLsj8Vvnh8dGS_KVRMy2jtEAsVXjuVkEVTUZo2SZmU_xn2SsZYUzPcT44UYm23xxDFULSxHW4RRbEDBNZKM0J2JmGYVpnO-IcDr25BW719YkHXjSBdKQabZoGLFbc3QvCFCL2T3ZsVCS81x0ndnh-DHdVPlmOha15xqV5ud4aAVFUJJP7X8k_0r4OWU-sSS154js2rrpG10Hj7E68Yz9NSnO6BIfEPurgQJSsLuOZTkWj4HyNdL0XY2symVDZ7qsGbxUzNDZGvJ8KsEEiDrrtlRMyvUfpUoNP8vx1zNCTG1ex10pzvo4-2uKT5idjVvfMivGntBYFhjOiVnCmsqFMcT4W-WPjP_ewTRZYhN-7E-rAmsCrgDG0Ggrt5NX7soXe_OLCChohI2V_SYE8zz10zQFbgKrKX6UnUz6qe4o08T1nMkBi6CqJwY_gXykwYvs8JaxA_jJpIBflC4quAViJ5OpDnzUxdjgNkOxJVs539neuNDgc5m9rSaMcX4ajn2Esc1Y0nZ921xeZ8qeyhpGMgBDJNwZV74FZbTKFWQGSrRdiv9s_OSvH2zfHu-LMv0SE3fsVeMfSIwMadkPMIyELpVmzncBBO2Lqud76nem1bvKdTF9p-kF8RADor2_JH8xBVTC39h4B-KbU59rQKuEvC6ctXcZZg0cIOuQqXvAQIKlqvbMRklFyvtFJ43Wm=w1208-h623-no?authuser=0" alt="Third slide">
            </div>
            <div class="carousel-item slide-image">
                <img class="d-block w-100 img-fluid" src="https://lh3.googleusercontent.com/uAqaiSnpBjD5vEnjO82Cmws_cO7DqPoM-i-o5DSH9kCWJyUwNAxgp-x50np0NthrzWufhxNSL53iks0a7EPPE4aeilJ5cSWCKOEFYtrgCd__AgnYJBel--JgbHTYjES5kkWl4H4OVtP5-goBf4M_aU-ZZYTVWjy571VFmUIS-HCqK0FsuU98x_hoVaryejhYeHAuPfZKhEEvOmXn_4bjMf_RgJBNiy7cL8923GTbvQJiX4tCvyqrYL1GLW18qrYhELMtFF0A0DJBgcjy75VvYddNQh90hl1lUahiR89IK3ix_M03YHJyHAH37gf8nupXFGBiyrx0-4Z7eWRc-XyUHXOzEHsth8scb-jOwmXztwEOJrJ2j07BU4m6958sRoDvMlm-APQKNetgi_0hn6UEdbdO9TtRPHiE6OOB4irWmg-Pb3ov476xE7Le1JC3b-KG--4qed_uRO3paA04EHaYpjSzByKoKc46eHq-F5-wNnX1yWamYcE_iy00MRFoB0gomfqLoDeSXS-T2ftV6r0pSJR0MX5LTMSwjaKmiX5zW1bWfiQHe4VrXVhE5I_IMYzUJX65CabHSNm4VPup2GtBaDiY3VA-bQu_lwv482k07ketgPF3eqoGujCRtc1vFqa3AQdTGLvzU65zvrp_qfuvThVGkQKsniQ437Ry8DXCz3zsX9ulyp4Q7RMcg549Vv8_hYC1v6QhrUX3UixfLtO2KC45=w1208-h471-no?authuser=0" alt="First slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{% endblock %}
