{% extends 'base.html' %}
{% block title %}{{request.user.first_name}} {{request.user.last_name}}{% endblock %}
{% block body %}
<div class="container mt-3">
  <h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
  <div class="details">
    <div class="row">
      <div class="col-sm-2">
        <strong>Class</strong>
      </div>
      <div class="col-sm-10">
        <p>
          {{student.s_class}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <strong>Roll No.</strong>
      </div>
      <div class="col-sm-10">
        <p>
          {{student.s_roll}}
        </p>
      </div>
    </div>
  </div>
  <div class="assignments">
    <h2 class="text-center">Assignments</h2>
    {% if assignments %}
    <div class="table-responsive">
      
    
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Upload</th>
          <th scope="col">Subject</th>
          <th scope="col">Teacher</th>
          <th scope="col">Due Date</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for assignment in assignments %}
       <tr>
          <th scope="row">{{forloop.counter}}</th>
           {% load humanize %}
          <td>{{assignment.date | naturaltime}}</td>
          <td>{{assignment.subject.subject_name}}</td>
          <td>{{assignment.teacher.first_name}} {{assignment.teacher.last_name}}</td>
          <td>{{assignment.last_date}}</td>
          <td>{{assignment.ass_type}}</td>
          <td><a href="assignment/{{assignment.slug}}" class="btn btn-sm btn-primary">Solve</a></td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
    </div>
    {% else %}
      <h4>no assignments</h4>
    {% endif %}
  </div>
</div>

{% endblock %}
